@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@100;300;400;500;700;900&display=swap');

*{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: 'Roboto', sans-serif;


    box-sizing: border-box;
}
body{
   
}
.hero{
    /* border: 2px solid red;  */
    max-width: 1600px;
    height:  100vh;
    margin: auto;
    filter: contrast(120%);
    background-image: url(images/banner/edit.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-wrap: wrap;



}
.heroboxs{
    box-sizing: border-box;
    /* border: 2px solid red; */
    width: 50%;
    height: 100%;
    position: relative;
    /* border: 2px solid red; */

}
.herobox-two{
    padding-right:8vw ;
    text-align: right;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 30px;
    
}
.herobox-two h2{
    padding-top: 220px;
    font-size: 64px;
    
    
}
.herobox-two p{
    max-width: 500px;
    font-size: 16px;
    

}
.herobox-two button{

    border: none;
    font-weight: 600;
    font-size: 18px;
    padding: 18px 30px;
    color: #005FAC;
    border-radius: 10px;
    
    
}




@media screen  and (max-width:1200px){
    .herobox-two{
        padding-right:6vw ;
        gap: 20px;
        
    }
    .herobox-two h2{
        padding-top: 200px;
        font-size: 54px;
        
        
    }
    .herobox-two p{
        max-width: 420px;
        font-size: 15px;
        font-weight: 300;
        letter-spacing: 0.5px;
        
        
    }
    .herobox-two button{

        font-size: 16px;
        padding: 16px 20px;
        
        
        
    }

}




            
    @media screen  and (max-width:1000px){
        .hero{
            
            height:  600px;
            margin: auto;
        
        
        }
        .herobox-two{
            padding-right:4vw ;
            gap: 15px;
            
        }
        .herobox-two h2{
            padding-top: 180px;
            font-size: 45px;
            
            
        }
        .herobox-two p{
            max-width: 380px;
            font-size: 15px;
            
            
            
        }




    }



    @media screen  and (max-width:900px){
        .hero{
            
            height: 500px;
            
        
        
        }
        .herobox-two{
            padding-right:4vw ;
            gap: 15px;
            
        }
        .herobox-two h2{
            padding-top: 150px;
            font-size: 40px;
            
            
        }
        .herobox-two p{
            max-width: 280px;
            font-size: 14px;
            
            
            
        }
     




    }



    @media screen  and (max-width:700px){
        .hero{
            
            height: 450px;
            
        
        
        }
        
        .herobox-two h2{
            padding-top: 150px;
            font-size: 35px;
            
            
        }
        .herobox-two p{
            max-width: 280px;
            font-size: 10px;
            
            
            
        }
        



    }



    @media screen  and (max-width:600px){
        .hero{
            height: 80vh;

            
            background-size: 1600px;

          
        }

        .herobox-one{
            display: none;
        }
        .herobox-two{
            width: 100%;
            gap: 10px;
            padding: 20px;
        }




















        
        .herobox-two h2{
            font-family: montserrat;
            font-weight: 400px;
            padding-top: 120px;
            font-size: 40px;
            line-height: 60px;
            color: #0000009e;

            
            
        }
        .herobox-two p{
            max-width: 600px;
            font-size: 14px;
            color: #000000e0;
            margin-bottom: 50px;
            line-height: 20PX;
      
           
            
            
            
        }
        



    }






       
        




    
    
